<div style="max-height: 250px; overflow-y: auto; overflow-x: auto;" class="card">
    <table class="table table-sm table-striped table-bordered text-nowrap">
        <thead class="table-dark">
            <tr>
                <th>Apelido</th>
                <th>Tipo</th>
                <th>Rótulo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cartão 1</td>
                <td>Crédito</td>
                <td>Principal</td>
                <td>
                    <button class="btn btn-primary btn-sm" title="Editar">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" title="Deletar">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Cartão 2</td>
                <td>Débito</td>
                <td>Secundário</td>
                <td>
                    <button class="btn btn-primary btn-sm" title="Editar">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" title="Deletar">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Cartão 3 teste com nome grande</td>
                <td>Crédito com nome grande, mas nao vai eter</td>
                <td>Viagem esse pode ter um nome ate que grande</td>
                <td>
                    <button class="btn btn-primary btn-sm" title="Editar">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" title="Deletar">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
