    <!-- Modal -->
    <div class="modal fade" id="model-create-bank" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Cadastre seu banco</h5>
                    <button id="btn-close-create-bank" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-create-bank">
                        {% include "forms/bank/create.html" %}
                    </form>
                </div>
            </div>
        </div>
    </div>