{% load widget_tweaks %}
{% csrf_token %}

<div class="mb-3">
    <label for="name">Nome:</label>
    <input id="name" name="name" type="text" class="form-control">
</div>

<div class="mb-3">
    <label for="description">Descrição:</label>
    <textarea class="form-control" id="description" name="description" rows="3" maxlength="44" style="width: 100%;"></textarea>
</div>

<div class="mb-3">
    <label for="number">Número do banco:</label>
    <input id="number" name="number" type="number" class="form-control">
</div>

<div class="mb-3">
    <label for="color">Cor:</label>
    <input type="color" class="form-control form-control-color" id="color" name="color" value="#FFFFFF">
    <small class="text-muted">Configurar cor padrão para diferenciar seus bancos</small>
</div>

<button type="button" id="btn-create-bank" class="btn btn-primary text-center">Continuar</button>
