{% extends "base/base.html" %}
{% load static %}

{% block title %}Bancos - SaveMoney{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="d-flex justify-content-center">
        Meus bancos 
        &nbsp;<span><i class="bi bi-bank2"></i></span>
    </h1>
    <!-- Modal Trigger Button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#model-create-bank">
        <i class="bi bi-clipboard-plus-fill"></i>
    </button>
    <hr>
    <div class="alert alert-light" role="alert">
        Em "Meus Bancos", você pode cadastrar qualquer instituição ou lugar que utiliza para gerenciar pagamentos, como bancos, carteiras digitais, operadoras de pagamento (VR, VA), ou até mesmo caixas físicos. A ideia é oferecer um sistema modular, permitindo que você personalize e organize livremente onde controla o fluxo de dinheiro — seja para entradas ou saídas.
    </div>
    
    
    <div class="mt-5">
        <div id="bank_table" class="row">
            
        </div>
    </div>
</div>
<script src='{% static "js/bank/main.js" %}' language="JavaScript" type="text/javascript"></script>
{% include "modals/bank/create.html" %}
{% include "modals/bank/delete.html" %}
{% include "modals/cards/create.html" %}


{% endblock %}
